[Unit]
Description=JupyterHub
After=network-online.target
OnFailure=notify-failed@%n

[Service]
User=jupyter
Environment=NLTK_DATA=/opt/jupyter/nltk_data
Environment=JULIA_PKGDIR=/opt/julia
ExecStart=/opt/jupyter/jupyterhub.sh
WorkingDirectory=/opt/jupyter
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
